@media screen and (max-width: 938px) {
    .content{
        display: block;
        
        
    }
    .title, .content2{
        width: 100%;
        
        text-align: center;
        
    }
  }