<div class="col-md-12 pb-5 d-flex justify-content-center formCategory cartas1">


    <form class="col-md-5 pt-3" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
  
      <div class="alert alert-primary col-md-12 text-center" role="alert" *ngIf="status == 'success'">
        Se ha creado la categoria correctamente.
      </div>
  
      <div class="alert alert-danger col-md-12 text-center" role="alert" *ngIf="status == 'error'">
        la categoria no se ha completado correctamente.
      </div>
  
      <h2 class="text-center mt-3 text-white">Crear nueva categoria</h2>
      <div class="mb-3 form-group">
  
        <label for="name" class="form-label text-white">Nombre</label>
        <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.name" required
          >
        <small class="invalid-feedback d-block" *ngIf="!name.valid && name.touched">El nombre no es valido.</small>
  
      </div>
  

      <div class="boton d-flex justify-content-center">
  
        <button type="submit" class="btn btn-danger" [disabled]="categoryForm.invalid">Guardar</button>
  
      </div>
    </form>
  
  </div>
  
