<div class="container">
  <br>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/angular1.svg" width="50" height="50" alt="">
        Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Categorias</a>
          </li>
        </ul>
        
        
          <ul class="navbar-nav navbar-right"  *ngIf="!identity">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/login" >Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" routerLink="/registro">Registro</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              <strong class="text-danger">{{identity.name + ' ' + identity.surname}}</strong>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *ngIf="identity">
                <li><a class="dropdown-item" href="#">Crear entrada</a></li>
                <li><a class="dropdown-item" href="#">Crear categorias</a></li>
                <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                <li><a class="dropdown-item" href="#">Ajustes</a></li>
                <li><a class="dropdown-item" routerLink="/logout/1" >Cerrar sesion</a></li>
              </ul>
            </li>
          </ul>
       
      

         </div>
    </div>
  </nav>


<router-outlet></router-outlet>


</div>