/* You can add global styles to this file, and also import other style files */
.imagenAvatar{
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px black;
}
.desplega{
    margin-left: -12px !important;
margin-top: 17px !important;
right: 0 !important;
box-shadow: 0px 0px 3px 1px black;
}
.formCategory{
    height: 400px;
}

.cartas{
    box-shadow: 0px 0px 3px 1px black;
}
.cartas1{
    background-color:#343a40;
}
.navegacion{
    box-shadow: 0px 0px 19px 1px black;
}
