<div class="loading cartas1 pt-5" *ngIf="!posts">
    <h3 class="text-white text-center">Cargando...</h3>

</div>



<div class="container-fluid d-flex justify-content-center flex-wrap cartas1" *ngIf='posts'>

    <div class="card ml-5 mr-5 mt-5 mb-5 cartas3 " style="width: 18rem;" *ngFor="let post of posts">
        <img  *ngIf="post.image" class="card-img-top" width="200" height="200" src="{{this.url + 'post/image/' + post.image}}" alt="{{post.title}}">

        <div class="card-body tarjetaBody">
          <h5 class="card-title text-white"><strong class="titulo"> {{post.title}}</strong></h5>
          <p class="card-text  tarjeta">{{post.content}}</p>
          <div class="d-flex justify-content-around">

                  <a [routerLink]="['/entrada', post.id]" class="btn ver text-white cartas">Ver</a>
                  <a *ngIf="identity && identity.sub == post.user_id " [routerLink]="['/editar-entrada', post.id]" class="btn ver text-white cartas">Editar</a>
                  <a *ngIf="identity && identity.sub == post.user_id " (click)="deletePost(post.id)" class="btn ver text-white cartas">Borrar</a>

                  <a *ngIf="identity && identity.id == post.user_id " [routerLink]="['/editar-entrada', post.id]" class="btn ver text-white cartas">Editar</a>
                  <a *ngIf="identity && identity.id == post.user_id " (click)="deletePost(post.id)" class="btn ver text-white cartas">Borrar</a>
                  
            
              
          </div>
        </div>
    </div>

</div>
