<div class="col-md-12 mt-5 d-flex justify-content-center">


  <form class="col-md-8" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">

    <div class="alert alert-primary col-md-12 text-center" role="alert" *ngIf="status == 'success'">
      Se ha editado correctamente.
    </div>

    <div class="alert alert-danger col-md-12 text-center" role="alert" *ngIf="status == 'error'">
      la edicion no se ha completado correctamente.
    </div>

    <h2 class="text-center mt-3">Editar Perfil</h2>
    <div class="mb-3 form-group">

      <label for="name" class="form-label">Nombre</label>
      <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required
        pattern="[a-zA-Z]+">
      <small class="invalid-feedback d-block" *ngIf="!name.valid && name.touched">El nombre no es valido.</small>

    </div>

    <div class="mb-3 form-group">

      <label for="surname" class="form-label">Apellidos</label>
      <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required
        pattern="[a-zA-Z]+">
      <small class="invalid-feedback d-block" *ngIf="!surname.valid && surname.touched">Los apellidos no son
        validos.</small>

    </div>

    <div class="mb-3 form-group">

      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <small class="invalid-feedback d-block" *ngIf="!email.valid && email.touched">El email no es valido.</small>

    </div>

    <div class="mb-3 form-group">

      <label for="description" class="form-label">Descripcion</label> <br>
      <textarea name="description" class="form-control" id="" cols="46" rows="2" #description="ngModel"
        [(ngModel)]="user.description"></textarea>

    </div>

    <div class="mb-3 form-group">

      <label for="image" class="form-label">Imagen</label> <br>

      <div *ngIf="identity && identity.image" class="d-flex justify-content-center mb-5">
             <img width="150" height="150" src="{{url + 'user/avatar/' + identity.image }}" alt="">
      
      </div>
      <angular-file-uploader 
      [config]="afuConfig"
      [resetUpload]=resetVar
      (ApiResponse)="avatarUpload($event)">
      </angular-file-uploader>

    </div>



    <div class="boton d-flex justify-content-center">

      <button type="submit" class="btn btn-danger" [disabled]="userEditForm.invalid">Guardar</button>

    </div>
  </form>

</div>
